header,body,html
{
  width: 100%;
  height: 100%;
  text-align: center;
 
}

header {
      background: url(https://www.canva.com/learn/wp-content/uploads/2016/01/contact-us-page-design.jpg) center center;
     background-size: cover;
        
    
}
.font{
    background-position: center;
}
div form{
    background-position: center;
    margin-top: 50px;
    transition: all 4s ease-in-out;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.form-control{
    

    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black ;
    color: black;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 16px;
    font-size: 20px;
    
    
}

input{
    height: 45px;
}
.submit{
    color: white;
    background-color: darkgray;
}

 .submit:hover{
background-color: darkgrey;
cursor: pointer;
}
