 header,body,html
  {
    width: 100%;
    height: 100%;
}


header{
    background: url(http://carnetsdalice.com/wp-content/uploads/2018/09/carnets-dalice-blog-review-shein-indian-summer-robe-jaune-5698IMG_5698.jpg) center center;
    background-size: cover;
    
}

.wrapper {
    
    width: 100%;
    height: 100%;
}

.content {
  
    text-align: center;
    vertical-align: middle;
    
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: rgb(146, 88, 88);
    line-height: 290px;
    text-shadow: 90px;
    
    
}
.subtitle {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(146, 88, 88);
   
}
.images{
    margin: 30px 340px ;
}
.images img{
    width: 200px;
    padding: 40px;
 }
 