header,body,html
{
  width: 100%;
  height: 100%;
}


header{
  background: url(https://resize.prod.femina.ladmedia.fr/rblr/652,438/img/var/2018-03/recettes-beaute-naturelles.jpg) center center;
  background-size: cover;
  
}
.first {
    
    width: 100%;
    height: 100%;
}

.thecontent {
  
    text-align: center;
    vertical-align: middle;
    
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: rgb(146, 88, 88);
    line-height: 290px;
    text-shadow: 90px;
    
    
}
.subtitle {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(146, 88, 88);
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(146, 88, 88);
    line-height: 290px;
    text-shadow: 90px;
    text-align: center;
    vertical-align: middle;   
}

 img{
   width: 350px;
    height:300px;
    vertical-align: top;
    }
   
   