nav ul 
{
    text-align: center;
    list-style-type: none;
    background-color: rgb(250, 232, 211);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
nav li {
    display: inline-block;
    width:  100px;
    height: 40px ;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #cccccc ;
    text-align: center;
    line-height: 30px;
}
 
nav li a {
    text-align: center;
    text-decoration-color: azure;
    color: rgb(150, 163, 150);
}
nav li  :hover{
    background-color: rgb(212, 198, 179);
}
