header,body,html
{
  width: 100%;
  height: 100%;
}


header{
  background: url(https://thumbs.dreamstime.com/z/fleurs-et-plantes-de-dessin-d-aquarelle-111024871.jpg) center center;
  background-size: cover;
  
}

.wrapper {
  
  width: 100%;
  height: 100%;
}

.content {

  text-align: center;
  vertical-align: middle;
  
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 60px;
  color: rgb(103, 104, 50);
  line-height: 290px;
  text-shadow: 90px;
  
  
}